@font-face{
  font-family: newfont;
  src: url(newfont.ttf);
}

@font-face{
  font-family: HelveticaNeue;
  src: url(HelveticaNeue.ttf);
}

@font-face{
  font-family: Devil;
  src: url(DevilBreezeBold.ttf);
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: "Helvetica";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #A9A9A9; /** Gris **/
}

p{
  font-family: HelveticaNeue;
  padding: 0;
  background-color: #A9A9A9; /** Gris **/
}


h1, h2, h3, h4, h5, h6 {
  margin-left: auto;
  margin-right: auto;
  font-family: newfont;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  text-shadow: 0px 2px 5px #727272,5px 5px 20px #494949;
  font-size: 5rem;
}


a {
  line-height: 3;
  border-radius:5px;
  font-family: newfont;
  color: black;
}


nav{
  min-height: 100%;
  font-family: newfont;
  margin: 0;
}


label {
  display: inline-block;
  margin-bottom: .5rem;
}

input,
textarea {
  margin: 0;
  font-family: Helvetica;
  font-size: inherit;
  line-height: inherit;
}


textarea {
  overflow: auto;
  resize: vertical;
}

.logo {
  font-family: Devil;
  font-size: 2rem;
  background-color: black;
  border-radius: 12%;
  transform: skew(-10deg);
  float:left;
  text-align: left;
  padding: 0.5%;
  margin: 1%;
}


.box{
  padding:8px 40px;
  vertical-align:middle;
  color: #d6d6d6;
  background-color:#6d6d6d;
  opacity: 0.8;
  line-height:1.5;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #222222,5px 5px 20px #121212;
  font-weight: bold;
}

.btn{
  padding:8px 40px;
  vertical-align:middle;
  color:black;
  background-color:#FFFFFF;
  opacity: 0.2;
  line-height: 3;
  border-radius:5px;
  box-shadow: 0px 2px 5px #727272,5px 5px 20px #494949;
  font-weight: bold;
}

.btn:hover{
  opacity: 1;
  background-color:#CCC;
}

.input{
  border: 3px solid #7a7a7a;
  padding: 12px;
  margin: 8px;
  box-shadow: 0px 2px 5px #727272,5px 5px 20px #494949;
  background-color:#afafaf;
  color: #636363;
  border-radius:10px;
}
::placeholder{
  color: #636363;
}


.submit{
  font-family: newfont;
  font-weight: bold;
  background-color: grey;
  border: 3px solid #282828;
  padding: 12px;
  margin: 8px;
  color: white;
  box-shadow: 5px 5px 20px #605f5f;
  border-radius:10px;
}

.submit:hover{
  opacity: 0.5;
}

/***** A CHANGER ******/

/***** LISTE DES SUJETS *****/
table{
  margin: auto;
  margin-top: 5px;
  border: 3px solid black;
  border-style: hidden;
}


td{
  padding:8px 40px;
  vertical-align:middle;
  color: #d6d6d6;
  background-color:#6d6d6d;
  opacity: 0.8;
  line-height:1.5;
  border-radius:5px;
  box-shadow: 0px 2px 5px #222222,5px 5px 20px #121212;
  font-weight: bold;
}


/***** FIN LISTE DES SUJETS *****/
.centrer_titre{
  margin-top: 40px;
  font-family: Devil;
  text-align: center;
  color: #cecece;
}

.centrer{
  text-align: center;
}

/**** NEW SUJET ****/
form{
  font-family: newfont;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 500px;
}

textarea {
  max-height: 400px;
  max-width: 70%;
}

/**** FIN NEW SUJET ****/
header{
  color: white;
  background-image: url(/Image/header.png);
  background-repeat: no-repeat;
  width: 100%;
  padding-top:1px;
  text-align:center;
}

aside{
  position: absolute;
  top: 300px;
  right: 100px;
  border-radius: 45px;
  border: black;
  box-shadow: black;
}

a{
  color: white;
  text-decoration: none;
}

article{
  width: 500px;
  height: 200px;
  display: table-cell;
  padding: 10px;
  margin-top: 20px;
  border-style: solid;

}

.Top-left{
  position:absolute;
  top: 10px;
  left: 50px;
  width: 100px;
  height: 100px;
}

.nav-padding{
  padding: 8px 16px;
  color: white;
  background-color: #6d6d6d;
  word-spacing: 20px;
  box-shadow: 0px 2px 5px #727272,5px 5px 20px #494949;
}

.nav-padding2{
  padding: 8px 16px;
  color: white;
  background-color: #828282;
  word-spacing: 20px;
  box-shadow: 0px 0px 5px #727272,0px 0px 20px #494949;
}
.margin-top{
  margin-top: 40px;
}

.titre_sujet{
  display: table;
  padding-right: 220px;
}

.sujet:hover{
  opacity: 1;
  background-color: #b5b5b5;
}



.bar-espace{
  margin-right: 3%;
}

.hidden{
  visibility: hidden;
}

.Membre{
  float: right;
  padding: 1%;
  margin-right: 2%;
  margin-top: 2%;
  width: 20%;
}

/*** FOOTER ****/
footer{
  padding:0.625rem;
  text-align:center;
  font-size:small;
}
/*** FIN FOOTER ****/
